# torch==2.1.0
# torchvision==0.16.0
# torchaudio==2.1.0
pytorch-lightning==2.1.0
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
# waymo-open-dataset-tf-2-12-0==1.6.7
typing-extensions==4.12
scikit-image
pyrootutils   
pre-commit      
rich         
pytest
av2
nuscenes-devkit
einop
wandb
tensorboard
ninja
fairscale
deepspeed
pyquaternion
datasets
kornia
kornia_moons
ipykernel
nvidia-cublas-cu12
pycolmap
accelerate
open3d
PyQt5
geopandas
rasterio
aioboto3
retry
transformers==4.47.1
Pillow==9.5.0
numpy==1.26.4
pandas==1.5.3
rich==14.0.0